

%br{:style => "clear:both"}/
/ FF fix
%br/
#leftpanel
  .fotocit
    %div
      = link_to image_tag('nkroerich.jpg', {:align => :left, :style => "margin-right:10px"}), 'nkroerich_big.jpg', {:title => 'чтоб увеличить, нажмите'}
      %p{:style => 'line-height:1.5em;'}
        “Все религии,
        %br/
        все учения
        %br/
        синтезируются
        %br/
        в Гималаях”.
        %a{:href => "#", :title => "Н. К. Рерих. Гималаи - Обитель Света (ст. Сокровище снегов)."} *
    С. Н. Рерих. Николай Рерих
  .foto
    = image_tag 'christ.jpg'
    Н. К. Рерих. Христос (фрагмент)
  .foto
    = image_tag 'budda.jpg'
    Н. К. Рерих. Будда Победитель
  .foto
    = image_tag 'magomet.jpg'
    Н. К. Рерих. Магомет на горе Хира
#rightpanel
  .fotocit
    %div
      = link_to image_tag('eiroerich.jpg', {:align => :right}), 'eiroerich_big.jpg', {:title => 'чтоб увеличить, нажмите'}
      %p
        “В науке мышления,
        %br/
        в области философской, Восток был,
        %br/
        есть и будет  нашим Учителем”.
        %a{:href => "#", :title => "Из Писем Е. И. Рерих в Европу. (4.06.37)"} *
    С. Н. Рерих. Елена Рерих
  .foto
    = image_tag 'maitreya.jpg'
    Н. К. Рерих. Майтрейя Победитель
  .foto
    = image_tag 'moisei2.jpg'
    Н. К. Рерих. Моисей-водитель
  .foto
    = image_tag 'zoroastr.jpg'
    Н. К. Рерих. Зороастр
#molitva
  %div
    %b
      ВЛАДЫКА ШАМБАЛЫ:
      %br/
      “...запишите молитву
      %br/
      будущего Храма:
      %br/
      %br/
      ИМЕНЕМ ХРИСТА,
      %br/
      ИМЕНЕМ БУДДЫ,
      %br/
      ИМЕНЕМ МАЙТРЕЙИ,
      %br/
      ИМЕНЕМ МАГОМЕТА,
      %br/
      ИМЕНЕМ СОЛОМОНА,
      %br/
      ИМЕНЕМ ВЕЛИКИХ
      %br/
      УЧИТЕЛЕЙ
      %br/
      И ПРОРОКОВ,
      %br/
      ИМЕНЕМ БРАТСТВА
      %br/
      ЗЕМНОГО И НЕБЕСНОГО,
      %br/
      ПРИМИТЕ
      %br/
      ЖЕЛАЕМОЕ ВАМИ
      %br/
      НЕ ВО ВРЕД И УБИЙСТВО,
      %br/
      НО В ПОСТИЖЕНИЕ СВЕТА.
      %br/
      ОМЫВАЮ ДУХ МОЙ
      %br/
      ЧУДОМ ПОДВИГА
      %br/
      И МОЛЧАНИЕМ.
      %br/
      ПРИМУ СИЯНИЕ
      %br/
      ИСТИНЫ”.
      %a{:href => "#", :title => "Молитва, данная Владыкой Шамбалы Николаю и Елене Рерих. (Е. И. Рерих. У порога Нового Мира. Огненный Опыт. /Январь 1924 г./ Изд. Международный Центр Рерихов, Мастер-Банк, Москва 2000)"} *
.header{:style => "clear:both; padding:30px 0;"}
  Когда приходит время собирать камни, приходит время  собирать в
  Единый Храм Духа и огни всех духовных Учений человечества, всех религий,
  которые во все века исходили из Единого Истока в Гималаях.
  Учение Живой Этики (Агни Йога), принесенное человечеству семьей Рерихов из Шамбалы,
  не только не отвергает ни одно предшествующее духовное Учение, оно вмещает их все, все их высшие огни,
  сплавляя воедино. И потому Живая Этика Основ Бытия является Огненным Учением Синтеза -
  Провозвестием Нового Мира.
/ <br style="clear:both" />FF fix
%table.footer{:bgcolor => "#000000", :width => "100%"}
  %tr
    %td{:valign => "top", :width => "50%"}
      %p
    %td{:valign => "middle"}
      %table{:border => "0", :width => "417"}
        %tr
          %td
            = image_tag 'induism_ic.gif', {:height => 52, :width => 56}
          %td
            = image_tag 'buddism_ic.gif', {:height => 52, :width => 53}
          %td
            = image_tag 'krest_ic.gif', {:height => 52, :width => 33}
          %td
            = image_tag 'islam_ic.gif', {:height => 52, :width => 51}
          %td
            = image_tag 'iudei_ic.gif', {:height => 52, :width => 55}
          %td
            = image_tag 'zoroastrism_ic.gif', {:height => 52, :width => 39}
    %td{:valign => "top", :width => "50%"}
      %p{:align => "right"}
%marquee#mecenat
  Сайт открыт 24 марта 2007 г.
  \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Редакция сердечно благодарит единомышленника из Санкт-Петербурга - мецената сайта, который предпочел оставаться неизвестным.
  \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Copyright &copy; 2007 RadChand. E-mail: sdoctrine@mail.ru
/#counters
/  / begin of Top100 logo
/  %a{:href => "http://top100.rambler.ru/top100/"}
/    %img{:alt => "Rambler's Top100", :border => "0", :height => "31", :src => "http://top100-images.rambler.ru/top100/b2.gif", :width => "88"}/
/  / end of Top100 logo
/  / LiveInternet logo
/  %a{:href => "http://www.liveinternet.ru/click", :target => "_blank"}
/    %img{:alt => "", :border => "0", :height => "31", :src => "http://counter.yadro.ru/logo?57.11", :title => "LiveInternet", :width => "88"}/
/ /LiveInternet
%script{:src => "http://www.google-analytics.com/urchin.js", :type => "text/javascript"}
:javascript
  _uacct = "UA-1563777-1";
  urchinTracker();