%div{class: 'search_results_container'}
  %div{class: 'flickr_pagination', style: 'margin-top: 50px;'}
    = will_paginate @result[:search_results]

  = link_to params.merge(show_html: false), class: 'but_24' do
    %span.s0
      %span.s1
        %span.s2
          = I18n.t('library.search_page.view_snippet')
  = link_to params.merge(show_html: true), class: 'but_24' do
    %span.s0
      %span.s1
        %span.s2
          = I18n.t('library.search_page.view_html')
  = link_to params.merge(action: :export), class: 'but_24' do
    %span.s0
      %span.s1
        %span.s2
          = I18n.t('library.search_page.export')

  - if @result[:show_html]
    = render partial: 'search_html', collection: @result[:search_results], as: :page
  - else
    = render partial: 'search_snippet', collection: @result[:search_results], as: :page

  %div{class: 'flickr_pagination'}
    = will_paginate @result[:search_results]
