%html
  %head
    
    %meta{:@content_item => "text/html; charset=windows-1251", "http-equiv" => "Content-Type"}/
    %title Тайная Доктрина Востока в творчестве Ларисы Дмитриевой
    = stylesheet_link_tag 'index.css'
    = stylesheet_link_tag 'mainmenu.css'
    = stylesheet_link_tag 'header.css'
    = stylesheet_link_tag 'application.css'
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
    =javascript_include_tag 'jquery-2.1.4.js'

  - csrf_meta_tags

  %body{:class => @body_class}
    #header
      =image_tag 'Header_Slava2.jpg', {:title => 'Н. К. Рерих. Слава Гималаев'}
      =image_tag 'Header_Slava_right2.gif', {:alt => 'Тайная Доктрина Востока в творчестве Ларисы Дмитриевой', :class => :right}
    = Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html
    = yield

    %table.footer{:bgcolor => "#000000", :width => "100%"}
      %tr
        %td{:valign => "top", :width => "50%"}
          %p
        %td{:valign => "middle"}
          %table{:border => "0", :width => "417"}
            %tr
              %td
                = image_tag 'induism_ic.gif', {:height => 52, :width => 56}
              %td
                = image_tag 'buddism_ic.gif', {:height => 52, :width => 53}
              %td
                = image_tag 'krest_ic.gif', {:height => 52, :width => 33}
              %td
                = image_tag 'islam_ic.gif', {:height => 52, :width => 51}
              %td
                = image_tag 'iudei_ic.gif', {:height => 52, :width => 55}
              %td
                = image_tag 'zoroastrism_ic.gif', {:height => 52, :width => 39}
        %td{:valign => "top", :width => "50%"}
          %p{:align => "right"}
    %marquee#mecenat
      Сайт открыт 24 марта 2007 г.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Редакция сердечно благодарит единомышленника из Санкт-Петербурга - мецената сайта, который предпочел оставаться неизвестным.
      \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Copyright &copy; 2007 RadChand. E-mail: sdoctrine@mail.ru
