= render partial: 'partials/tree_block', :locals => { :display_contents => true, tree: @page_info[:tree], contents: @page_info[:contents], book: @page_info[:page].book }

%div{id: 'main_container_div', class: 'fullheight'}
  %table{id: 'book_headers', cols: '*, 200px'}
    %tr
      %td{id: 'book_header'}
        = @page_info[:page].book.name
      %td{id: 'search_block'}
        = form_tag search_results_path, {:method => :get} do
          %input{type: :hidden, name: 'book_id', value: @page_info[:page].book.id}
          %input{id: 'search_lite', name: 'search_text'}
          %button{type: 'submit'}
            = I18n.t('library.search')
    %tr
      %td{id: 'page_header', colspan: '2'}
        = @page_info[:page].display_name
    %tr
      %td{id: 'page_buttons'}
        = link_to book_page_path(@page_info[:page].book.id, @page_info[:page].url_name) do
          = image_tag 'html.png'
        = link_to book_page_path(@page_info[:page].book.id, @page_info[:page].url_name, pdf: true) do
          = image_tag 'pdf.png'
      %td{id: 'page_selector'}
        %form
          = I18n.t('library.go_to_page_prefix')
          %select
          %button{type: 'submit'}
            = I18n.t('library.go_to_page')

  %div{id: 'page_container'}
    - unless @page_info[:page].prev.nil?
      = link_to '<', book_page_path(params.merge(id: @page_info[:page].prev.url_name)), id: 'previous_page'
    - if @page_info[:pdf]
      %iframe{src: "#{book_page_external_page_content_path(@page_info[:page].book, @page_info[:page], @page_info[:page].pdf_content)}"}
    - else
      %iframe{src: "#{book_page_external_page_content_path(@page_info[:page].book, @page_info[:page], @page_info[:page].html_content, highlight_words: params[:highlight_words])}"}

    - unless @page_info[:page].next.nil?
      = link_to '>', book_page_path(params.merge(id: @page_info[:page].next.url_name)), id: 'next_page'

= render partial: 'partials/book_view_resize_script'