%table.footer{:bgcolor => "#000000", :width => "100%"}
  %tr
    %td{:valign => "top", :width => "50%"}
      %p
    %td{:valign => "middle"}
      %table{:border => "0", :width => "417"}
        %tr
          %td
            = image_tag 'induism_ic.gif', {:height => 52, :width => 56}
          %td
            = image_tag 'buddism_ic.gif', {:height => 52, :width => 53}
          %td
            = image_tag 'krest_ic.gif', {:height => 52, :width => 33}
          %td
            = image_tag 'islam_ic.gif', {:height => 52, :width => 51}
          %td
            = image_tag 'iudei_ic.gif', {:height => 52, :width => 55}
          %td
            = image_tag 'zoroastrism_ic.gif', {:height => 52, :width => 39}
    %td{:valign => "top", :width => "50%"}
      %p{:align => "right"}
%marquee#mecenat
  Сайт открыт 24 марта 2007 г.
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Редакция сердечно благодарит единомышленника из Санкт-Петербурга - мецената сайта, который предпочел оставаться неизвестным.
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Copyright © 2007 RadChand. E-mail: sdoctrine@mail.ru
%p
  :plain
    <!-- Yandex.Metrika informer -->
    <a href="https://metrika.yandex.ru/stat/?id=16756096&amp;from=informer"
    target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/16756096/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
    style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" class="ym-advanced-informer" data-cid="16756096" data-lang="ru" /></a>
    <!-- /Yandex.Metrika informer -->

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
      (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
          try {
            w.yaCounter16756096 = new Ya.Metrika({
              id:16756096,
              clickmap:true,
              trackLinks:true,
              accurateTrackBounce:true
            });
          } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
          s = d.createElement("script"),
          f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/16756096" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->