%div{class: 'pro'}
  %div{class: 'cover'}
    = link_to cover_book_path(book.id), {'data-lightbox' => "#{book.id}"} do
      = image_tag cover_book_path(book.id)
  %div{class: 'anonce'}
    %h2
      = link_to(book.name, book_path(book.id))
    %p
      = book.synopsis
  %div{class: 'footer'}
    - pdf_content = book.pdf_content
    - if pdf_content
      %a{class: 'first last', href: "#{book_external_book_content_path(book.id, pdf_content.id)}"}
        %span{class: 's1'}
          %span{class: 's2'}
            =I18n.t('library.download')
    %a{class: 'first last', href: "#{book_path(book.id)}"}
      %span{class: 's1'}
        %span{class: 's2'}
          =I18n.t('library.read')
    - if book.can_buy
      %a{class: 'first last', href: "#"}
        %span{class: 's1'}
          %span{class: 's2'}
            =I18n.t('library.buy')