%table#mainmenu
  %tr
    %td
      = link_to I18n.t('menu.index'), indexes_path, {:class => :button}
    %td
      = link_to I18n.t('menu.news'), news_index_path, {:class => :button, :title => "Последнее обновление 20 августа 2012 г."}
    %td
      = link_to I18n.t('menu.library'), book_categories_path, {:class => :button}
    %td
      = link_to I18n.t('menu.symbols'), symbols_path, {:class => :button}
      %ul
        %li
          %a{:href => "/symbols/symbol.php?intro.ssi"} Только рассудком символ не откроешь
        %li
          %a{:href => "/symbols/symbol.php?znmira.ssi"} Древнейший всемирный символ Триединства Жизни
        %li
          %a{:href => "/symbols/symbol.php?swastika.ssi"} Изначальный Крест – изначальная Свастика
        %li
          %a{:href => "/symbols/symbol.php?swastika.ssi"} Священная Свастика
        %li
          %a{:href => "/symbols/symbol.php?other.ssi#om"} ОМ (АУМ)
        %li
          %a{:href => "/symbols/symbol.php?other.ssi#agni"} В круге санскритское "Агни" – "Огнь"
        %li
          %a{:href => "/symbols/symbol.php?other.ssi#znhrista"} Знаки Христа
        %li
          %a{:href => "/symbols/symbol.php?other.ssi#zvezda"} Пятиконечная Звезда
        %li
          %a{:href => "/symbols/symbol.php?other.ssi#antara"} Знак Вишну (Шри-Антара), Печать Соломона
        %li
          %a{:href => "/symbols/symbol.php?other.ssi#koleso"} Колесо Будды
        %li
          %a{:href => "/symbols/symbol.php?other.ssi#zmei"} “Змей, закусы­вающий свой хвост”
    %td
      = link_to I18n.t('menu.poetry'), poems_path, {:class => :button}
      %ul
        %li
          %a{:href => "/stihi/contnk.php"} Философско-поэтические трактовки картин Николая Константиновича Рериха
        %li
          %a{:href => "/stihi/contsn.php"} Философско-поэтические трактовки картин Cвятослава Николаевича Рериха
    %td
      = link_to I18n.t('menu.audio'), audios_path, {:class => :button}
      %ul
        %li
          %a{:href => "/audio/audio_nk.php"} Звучит голос Николая Рериха
        %li
          %a{:href => "/audio/audio.php"} Л. П. Дмитриева читает свои фил.-поэтич. эскизы к картинам Рерихов
        %li
          %a{:href => "/audio/audio.php"} Фонограммы докладов Л. П. Дмитриевой на международных симпозиумах
        %li
          %a{:href => "/audio/audio.php"} Выступления Л. П. Дмитриевой на радио
    %td
      = link_to I18n.t('menu.archive'), 'http://archive.secretdoctrine.ru/', {:class => :button}
    %td
      = link_to I18n.t('menu.feedback'), feedbacks_path, {:class => :button, :title => "Если у Вас есть желание что-то сказать, пишите. Пожелания, предложения по улучшению удобств для посетителей сайта будут учтены"}
