%html
  %head

    %meta{:@content_item => "text/html; charset=windows-1251", "http-equiv" => "Content-Type"}
    %title Тайная Доктрина Востока в творчестве Ларисы Дмитриевой
    = stylesheet_link_tag 'refinery/books/application.css'
    = stylesheet_link_tag 'application.css'
    = javascript_include_tag 'refinery/books/application'
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}

  = csrf_meta_tags

  - body_class = 'bluegamma'
  - if defined? @page and @page.html_class_name
    - body_class = @page.html_class_name
  %body{:class => body_class}
    #header
      =image_tag 'Header_Slava2.jpg', {:title => 'Н. К. Рерих. Слава Гималаев'}
      =image_tag 'Header_Slava_right2.gif', {:alt => 'Тайная Доктрина Востока в творчестве Ларисы Дмитриевой', :class => :right}
    = Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html
    = yield

    = render partial: 'refinery/footer'
    = javascript_include_tag 'refinery/books/highslide-full.packed'
